<section class="with">
	<h2>Waarmee?</h2>

	<ul>
		<li class="with__tool with__tool_gulp">gulp</li>
		<li class="with__tool with__tool_html">
			<abbr title="Hypertext Markup Language">
				{% include icons/html.svg %}
				<span>html</span>
			</abbr>
		</li>
		<li class="with__tool with__tool_sass">
			<abbr title="Syntactically Awesome Style Sheets">
				sass
			</abbr>
		</li>
		<li class="with__tool with__tool_svg">
			<abbr title="Scalable Vector Graphics">
				{% include icons/svg.svg %}
				<span class="hide_desktop">s</span><span>vg</span>
			</abbr>
		</li>
	</ul>
</section>